<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Finin</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/slides_diffs.css">
  </head>
  <body>
    <header>
      <img src="img/logo.svg" alt="logo">
      <nav>
        <a href="#" id="link-about">About Us</a>
        <a href="#">Blog</a>
        <a href="#" class="btn btn-primary button" id="header-button">Join the wait list</a>
        <div class="cross">
          &times;
        </div>
      </nav>
    </header>
    <div class="container container-other">
      <div class="line green">
      </div>
      <h1>About us</h1>
      <div class="subheading">AN ALTERNATIVE TO BANKING OF THE PAST </div>
      <p>We believe that everyone deserves a simpler, low-stress relationship with their money. Our mission is to make you feel more comfortable talking about, managing, and doing stuff with your money.</p>
      <div class="line red">
      </div>
      <h2>Team</h2>
      <div class="team grid">
        <member v-for="member in members" :key="member.id" :pagelink="member.pagelink" :imglink="member.imglink" :firstname='member.firstname' :lastname='member.lastname' :color="member.color" :role="member.role"></member>
      </div>
      <div class="line blue">
      </div>
      <h2>Advisors</h2>
      <div class="advisors grid">
        <advisor v-for="advisor in advisors" :key="advisor.id" :pagelink="advisor.pagelink" :imglink="advisor.imglink" :firstname='advisor.firstname' :lastname='advisor.lastname' :color="advisor.color" :role="advisor.role"></advisor>
      </div>
    </div>
    <div id="pages">
      <page v-for="page in pages" :key="page.id" :anchor="page.anchor" :color="page.color" :firstname="page.firstname" :lastname="page.lastname" :role="page.role" :links="page.links" :text="page.text" :imglink="page.imglink"></page>
    </div>
    <div class="container container-custom">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-buttons carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active carousel-button"></li>
          <li data-target="#carousel" data-slide-to="1" class="carousel-button"></li>
          <li data-target="#carousel" data-slide-to="2" class="carousel-button"></li>
          <li data-target="#carousel" data-slide-to="3" class="carousel-button"></li>
          <li data-target="#carousel" data-slide-to="4" class="carousel-button"></li>
          <li data-target="#carousel" data-slide-to="5" class="carousel-button"></li>
        </ol>
        <div class="social-buttons">
          <a href="#"><img src="img/l.svg" alt="linkedin"></a>
          <a href="#"><img src="img/i.svg" alt="instagram"></a>
          <a href="#"><img src="img/f.svg" alt="facebook"></a>
          <a href="#"><img src="img/t.svg" alt="twitter"></a>
        </div>
        <div class="carousel-inner">
          <slide v-for="slide in slides" :key="slide.id" :itemclass="slide.itemclass" :heading="slide.heading" :paragraph1="slide.paragraph1" :paragraph2="slide.paragraph2" :imglink1="slide.imglink1" :imglink2="slide.imglink2"></slide>
        </div>
      </div>
      <div class="sign-up">
        <div class="subheader">
          <div class="line green"></div>
          <span>Thanks, for your interest.</span>
          <div class="cross">
            &times;
          </div>
        </div>
        <div class="container-inner">
          <div class="container-inner_text before">
            <h1>Get your free account</h1>
            <div class="container-inner_paragraph1">Book your spot now and get updated with our<br> new upcoming features and info about product.</div>
            <form class="needs-validation">
              <div class="form-group">
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Your name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@email.com" required>
              </div>
              <div class="row">
                <div class="col-1">
                  <input type="phone" class="form-control" id="phone-code" aria-describedby="phoneCodeHelp" placeholder="+91" readonly>
                </div>
                <div class="col-11">
                  <input type="phone" class="form-control" id="phone-number" aria-describedby="phoneNumberHelp" placeholder="12345 12345" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary button">Join the wait list</button>
            </form>
          </div>
          <div class="container-inner_text after">
            <h1>Bunty, it means a lot</h1>
            <div class="after_paragraph1"><b>We’ll be launching in the coming weeks.<br>We’ll let you know once we’re ready.</b>
            </div>
            <span class="after_number">1230</span>
            <span class="after_text">People, ahead of you</span>
            <div class="after_paragraph2">Spread the word with your friends To jump ahead on<br>the queue & start Living Finin’s way of Life
            </div>
            <div class="share-buttons">
              <a href="#"><img src="img/share1.png" alt="share via mail"></a>
              <a href="#"><img src="img/share2.svg" alt="share via facebook"></a>
              <a href="#"><img src="img/share3.svg" alt="share via whatsapp"></a>
              <a href="#"><img src="img/share4.svg" alt="share via twitter"></a>
            </div>
          </div>
          <div class="container-inner_images">
            <img src="img/signup1.svg"/>
            <img src="img/signup2.png"/>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vuecode.js"></script>
    <script src="script.js"></script>
  </body>
</html>
